{% extends 'taskmanagement_app/base.html' %}
{% block content %}
<form action="{% url 'taskmanagement_app:addtask' %}" method="post" class="card" id="card1">
    
    {% csrf_token %}
    <label for="task"></label>
    <input type="text" id="task" name="task" placeholder="enter task">
    
    <label for="due-date"></label>
    <input type="date" id="due-date" name="due-date" placeholder="enter deadline for task here">
    <label for="description"></label>
    <input type="text" id="description" name="description" placeholder="enter description for task here">
    <button type="submit">Submit</button>
    {% if  error %}
        <div class="alert alert-info">
            <p>Task field and deadline should not be empty</p>
        </div>
    {% endif %}
</form>
{% endblock content %}