{% extends 'taskmanagement_app/base.html' %}
{% block content %}
<form action="{% url 'taskmanagement_app:addtask' %}" method="post" class="addtask-card">
    
    <h3 class="card-headers">Add Task</h3>
    {% csrf_token %}
    <label for="task" class="label">Task:</label>
    <input type="text" id="task" name="task" placeholder="enter task" class="input">
    
    <label for="due-date" class="label">Deadline:</label>
    <input type="date" id="due-date" name="due-date" placeholder="enter deadline for task here" class="input">

    <label for="description" class="label">Decription:</label>
    <textarea name="description" class="input" id="description" placeholder="enter description for task here" class="textarea"></textarea>
    
    {% if  error %}
        <div class="alert alert-info">
            <p>Task field and deadline should not be empty</p>
        </div>
    {% endif %}
    <button type="submit" class="button" id="submit">Submit</button>
    
</form>
{% endblock content %}