{% extends 'taskmanagement_app/base.html' %}
{% block content %}
    <div id="welcome-to-nova">
        <h1 id="welcome-to-nova-h1">Welcome to NOVA</h1>
        <p id="welcome-to-nova-p1">NOVA is your productivity assistant which assists you<br>manage your daily,weekly and monthly tasks to increase your<br>productivity and make your life easier.</p>
    </div>


   <section id="section1">
        <div>
            <div class="card" id="manage-tasks-card">
                <h1 style="font-weight: 900;">Task Management</h1>
                <h3>Working towards your goals?</h3>
                <p>Use NOVA to help you set and achieve your goals and to strive towards a better life.
                Manage your daily,weekly and monthly tasks to increase your productivity.</p>
                <p>Click below to go to the goal management dashboard.</p>
                <h4><a href="{% url 'taskmanagement_app:tasks' %}">Manage Tasks</a></h4>
            </div>
        </div>
        <div class="img1"></div>
   </section> 


   <section id="section2">
        <div class="img2"></div>
        <div>
            
            <div class="card" id="work-towards-goal">
                <h1 style="font-weight: 900;">Goal Tracker</h1>
                <p>Working towards your goals?Use NOVA to help you set and achieve your goals and to strive towards a better life.
                Set your goals and track your progress.</p>
                <p>Click below to go to the goal management dashboard.</p>
                <h4><a href="#">Track Goals</a></h4>
            </div>
        </div>
    </section>

    <section id="section3">
        <div>
            <div class="card" id="manage-tasks-card">
                <h1 style="font-weight: 900;">Learning Log</h1>
                <p>Are you a student struggling to keep track your academics?Try using NOVA's learning log which helps you keep track of anything new you have learned and helps you in your academic journey.
                Keep track of what you are learning using Learning Logs</p>
                <p>Click below to go to Learning Logs.</p>
                <h4><a href="#">Learning Log</a></h4>
            </div>
        </div>
        <div class="img3"></div>
   </section> 
   <footer style="height: 240px; background-color: gray; padding-top: 90px;">
        <h1 style="margin-left: 120px;  font-weight: 900;">NOVA</h1>
    </footer>
{% endblock content %}