{% extends 'taskmanagement_app/base.html' %}
{% block content %}
    <div class="tasks">
      <div class="card" id="card1" style="display: flex; flex-direction: row;">
        <div>
          <div class="card-header" style="border-radius: 15px;">
            <h1 style="font-weight: 900;">Today's To Do List-Click a task to view details</h1>
          </div>
          {% for task in tasks %}
            <div class="card" id="card2">
              <h1><a href="{% url 'taskmanagement_app:task' task.id %}" style="text-decoration: none; color: white;">{{task.title}}</a></h1>
              <h4>Description : {{task.description}}</h4>
              <h4>Date of Assignment : {{task.date_assigned}}</h4>
            </div> 
          {% empty %}
            <p style="margin-left: 20px;margin-top: 10px; margin-bottom: 20px;">No tasks have been added.Click below to add task.</p>
          {% endfor %}
            <form action="{% url 'taskmanagement_app:addtask' %}" method="POST">
              {% csrf_token %}
              <button type="submit"  class="button" style="margin-left: 100px;">
                Add task
              </button>
            </form>
        </div>
        <div class="card" id="calendar-view">
          <div class="card-header" style=" margin-bottom: 10px; border-radius: 15px; ">
            <h3 style="font-weight: 900;">Calendar</h3>
          </div>
            <p>Have a look at what this month has for you</p>
            <form action="{% url 'taskmanagement_app:calendarview' %}" method="POST">
              {% csrf_token %}
              <button  class="button">
               View Calendar
              </button>
            </form>
        </div>
    </div>
{% endblock content %}