{% extends 'taskmanagement_app/base.html' %}
{% block content %}
  
    <div class="card" id="your-tasks">
      <h1>Your Tasks</h1>
      {% for task in tasks %}
        <ul>
            <li><a href="{% url 'taskmanagement_app:task' task.id%}">{{task}}</a></li>
        </ul>
      {% empty %}
        <p>No tasks have been added to your account yet.</p>
      {% endfor %}
        <button class="button" id="add-task-button"><a href="{% url 'taskmanagement_app:addtask' %}">Add task</a></button>
    </div>
    <div class="card" id="calendar-view">
        <h3>Monthly View</h3>
        <p>Have a look at what this month has for you</p>
        <button class="button" id="view-calendar"><a href="{% url 'taskmanagement_app:calendarview' %}">View Calendar</a></button>
    </div>
    
      
   
  
{% endblock content %}