{% extends 'taskmanagement_app/base.html' %}
{% block content %}
<form action="{% url 'taskmanagement_app:updatetask' task.id%}" method="post" class="card" id="card1">
    
    {% csrf_token %}
    <h3 class="card-headers">Edit Tasks</h3>

    <label for="task" class="label">Task Name:</label>
    <input type="text" id="task" name="task" value="{{task.title}}" class="input">
    
    <label for="due-date" class="label">Deadline:</label>
    <input type="date" id="due-date" name="due-date" value="{{task.deadline}}" class="input">

    <label for="description" class="label">Description: </label>
    <textarea name="description" class="input">{{task.description}}</textarea>

   {% if  error %}
        <div class="alert alert-info">
            <p>Task field and deadline should not be empty</p>
        </div>
    {% endif %}
    <button type="submit" class="button" id="submit">Submit</button>
</form>
{% endblock content %}