{% extends 'taskmanagement_app/base.html' %}
{% block content %}
<div style="padding-top:120px; padding-left: 50px; font-weight: 900;">
    <h1 style="margin-left: 250px;">Welcome to your Learning Log</h1>
    <div class="card" id="card3">
        <h2 style="margin-bottom: 30px; margin-top: 30px;">Your Topics</h2>
        {% for topic in topics %}
        <ul>
            <li><a href="{% url 'learning_logs:topic' topic.id %}">{{topic.text}}</a></li>
        </ul>
        {% empty %}
            <p>You have no topics logged</p>
        {% endfor %}
        <a href="{% url 'learning_logs:newtopic' %}">add new topic</a>
    </div>
</div>
{% endblock content %}