{% extends 'taskmanagement_app/base.html' %}
{% block content %}
<div style="padding-top:180px; padding-left: 170px; padding-bottom:180px; font-weight: 900; font-family:cursive ;">
    <h1 style="margin-left: 200px; font-weight: 900;">Welcome to your Logs Page</h1>
    <div class="card" id="card3">
        <h2 style="margin-bottom: 30px; margin-top: 30px; font-weight: 700;">Your Topics</h2>
        {% for topic in topics %}
        <ul>
            <li><a href="{% url 'learning_logs:topic' topic.id %}">{{topic.text}}</a></li>
        </ul>
        {% empty %}
            <p>You have no topics logged</p>
        {% endfor %}
        <button style="width: 200px; margin-left: 460px;" class="btn btn-primary "><a href="{% url 'learning_logs:newtopic' %}" style="color: white;">Add New Topic</a></button>
    </div>
</div>
{% endblock content %}