{% extends 'taskmanagement_app/base.html' %}
{% block content %}
<div style="padding-bottom: 125px; padding-left: 100px; " id="logs">
    <div style="padding-top: 140px; padding-left: 100px; padding-right: 350px;">
        <div style="background-color: black;  padding: 12px; border-radius: 10px; ">
            <h1 style="color: yellow;">Update Entry for - </h1>
            <h1 style="color: yellow;">{{topic.text}}</h1>
        </div>
        <form action="{% url 'learning_logs:updateentry' entry.id%}" method="post" style="padding-top: 40px;">
            {% csrf_token %}
            {{ form.as_p }}
            <button name="submit" class="btn btn-primary" style="margin-left: 480px;">Update Entry</button>
        </form>
    </div>
</div>
{% endblock content %}