{% extends "taskmanagement_app/base.html" %}
{% block content %}
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}
  <div class="card" id="login" style="margin-top: 200px; margin-left: 400px;">

    <h2 style="padding-left: 170px; padding-bottom: 30px; font-weight: 900;">Login</h2>
              
    <form method="post" action="{% url 'users:login' %}" style="padding-left: 100px;">
        {% csrf_token %}
        {{ form.as_p }}      
        <p><a href="{% url 'users:register' %}" style="color: black;">SignUp</a> If you don't have an account</p>
        <button name="submit" class="button">Login</button>
        <input type="hidden" name="next" value="{% url 'taskmanagement_app:home' %}" />
        
    </form>
  </div>
{% endblock content %}