body, html { 
  margin: 0; 
  padding: 0;
}
body {
    background-image: url("../images/download.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
#nav {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    list-style: none;
}
.navlink {
    color:black;
    margin-right: 40px;
    font-size: 25px;
    font-weight:500;
    text-decoration: none;
}

.card {
    padding: 40px;
    width: 350px;
    border-radius: 20px;
    margin-top: 200px;
    margin-left: 500px;
}