
@font-face {
    font-family: 'IBM Plex Sans-Bold';
    src: url('../fonts/IBMPlexSans-Bold.ttf') format('truetype');
    font-weight: 400; /* Regular weight */
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular weight */
    font-style: normal;
}
body {
    font-family: 'IBM Plex Sans', sans-serif;
}
p {
    font-family:  'IBM Plex Sans', sans-serif;;
}
.body1 {
    background-color: rgb(255, 252, 248);
}
header {
    display: flex;
    flex-direction: row;
}
h1 {
    display: inline;
}
nav {
    background-color:  white;
}
#Nova-h1 {
    margin-left: 0px;
    margin-right: 700px;
    font-size: 25px;
    font-weight: 1000;
    color: rgb(20, 32, 62, 24%)
}
#Nova-h1:hover {
    color: rgb(20, 32, 62, 100%);
    transition: 0.5s;
    font-size: 27px;
    cursor: pointer;
}
nav ul {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav li a{
    color: rgb(20, 32, 62, 50%);
    margin-right: 90px;
    font-size: 21px;
    font-weight:400;
    text-decoration: none;
}

nav li a:hover {
    color: rgb(20, 32, 62);
    font-size: 23px;
    transition-duration: 0.5s;
}
#welcome-to-nova {
    margin-top: 200px;
    margin-left: 50px; 
    font-size: 30px;
    font-weight:1000;
    font-family: 'IBM Plex Sans-Bold';
}
#welcome-to-nova-h1 {
    margin-left: 380px;
}
#welcome-to-nova-p1 {
    margin-top: 40px;
    margin-left: 18px;
}
#welcome-to-nova-p2 {
    margin-left: 50px;
}
.button {
    background-color: black;
    margin-top: 10px;
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 200px;
}

button a{
    color: white;
}
.button {
    margin-top: 30px;
    background-color: black;
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 200px;
}
#card1 {
    background-color: rgb(168, 165, 165);
    padding: 40px;
    width: 900px;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 160px;
}
#card1:hover {
    background-color: black;
    color: white;
    width: 1000px;
    transition: 0.5s;
    height: 280px;
}
#card {
    background-color: rgb(168, 165, 165);
    padding: 40px;
    width: 350px;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 100px;
}
#card:hover {
    background-color: black;
    color: white;
    width: 400px;
    transition: 0.5s;
    height: 400px;
}
#calendar-view {
    background-color: rgb(168, 165, 165);
    padding: 40px;
    width: 350px;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 450px;
}
#your-tasks{
    background-color: rgb(168, 165, 165);
    padding: 40px;
    width: 350px;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 450px;
}

#nav {
  
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;      /* Fixed elements collapse unless given a width */
    z-index: 1000;
}
.first-row {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 110px;
}

#add-task-button {
    margin-top: 30px;
}
#submit {
    margin-left: 300px;
}
.input {
    margin-left: 200px;
    margin-bottom: 20px;
    width: 400px;
}
.label {
    margin-left: 200px;
}
.text-area {
    margin-left: 200px;
    height: 200px;
    width: 400px;
}
.card-headers {
    margin-left: 350px;
}
.edit-delete-button {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    gap: 20px;
}
