
@font-face {
    font-family: 'IBM Plex Sans-Bold';
    src: url('../fonts/IBMPlexSans-Bold.ttf') format('truetype');
    font-weight: 400; /* Regular weight */
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular weight */
    font-style: normal;
}
body {
    font-family: 'IBM Plex Sans', sans-serif;
}
p {
    font-family:  'IBM Plex Sans', sans-serif;;
}
.body1 {
     background-color: rgb(255, 252, 248);
}
header {
    display: flex;
    flex-direction: row;
}
h1 {
    display: inline;
}
nav {
    background-color: rgb(205, 203, 203);
}


#Nova-h1 {
    margin-left: 0px;
    margin-right: 350px;
    font-size: 25px;
    font-weight: 1000;
    font-family: 'IBM Plex Sans-Bold';
    color: rgb(20, 32, 62, 50%)
}
#Nova-h1:hover {
    color: rgb(2, 3, 7);
    transition: 0.5s;
    cursor: pointer;
}
.nav-menu {
    display: flex;
    flex-direction: row;
    margin-right: 200px;
}
nav ul {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav li a{
    color: rgb(20, 32, 62, 50%);
    margin-right: 28px;
    font-size: 21px;
    font-weight:400;
    text-decoration: none;
}

nav li a:hover {
    color: rgb(20, 32, 62);
    transition-duration: 0.5s;
}
#welcome-to-nova {
    padding-top: 200px;
    padding-bottom: 220px;
    font-size: 30px;
    font-weight:1000;
    font-family: 'IBM Plex Sans-Bold', sans-serif;
    background-image: url('../images/download.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#welcome-to-nova-h1 {
    margin-left: 250px;
}
#welcome-to-nova-p1 {
    margin-top: 40px;
    margin-left: 18px;
}
#welcome-to-nova-p2 {
    margin-left: 50px;
}
#section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    background-color: rgb(249, 244, 244);
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
}
#section3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    background-color: rgb(249, 244, 244);
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
}
article {
    display: inline;
    margin-left: 30px; 
    margin-top: 20px;
}
.img1 {
    background-image: url('../images/tasks_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 500px;
    border-radius: 20px;
}
.img1:hover {
    background-image: url('../images/tasks_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 520px;
    width: 510px;
    border-radius: 20px;
    transition: 1s;
    cursor: pointer;
}
#section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    background-color: rgb(249, 244, 244);
    padding-bottom: 40px;
    padding-left: 30px;
}
.img2 {
    background-image: url('../images/goals.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 500px;
    border-radius: 20px;
}
.img2:hover {
    background-image: url('../images/goals.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 520px;
    width: 510px;
    border-radius: 20px;
    transition: 1s;
    cursor: pointer;
}
.img3 {
    background-image: url('../images/studying.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 500px;
    border-radius: 20px;
}
.img3:hover {
     background-image: url('../images/studying.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 520px;
    width: 510px;
    border-radius: 20px;
    transition: 1s;
    cursor: pointer;
}
#manage-tasks-card {
    background-color: rgb(149, 146, 146);
    padding: 40px;
    width: 500px;
    border-radius: 20px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    color: black;
}
#manage-tasks-card:hover {
    background-color: black;
    width: 530px;
    transition: 0.5s;
    cursor: pointer;
    color: white;
}
#work-towards-goal {
    background-color: rgb(149, 146, 146);
    padding: 40px;
    width: 500px;
    border-radius: 20px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    color: black;
}
#work-towards-goal:hover {
    background-color: black;
    width: 530px;
    transition: 0.5s;
    cursor: pointer;
    color: white
}
.img1 {
    background-image: url('../images/tasks_img.jpg');
}


button a{
    color: black;
    text-decoration: none;
}

.button {
    margin-top: 30px;
    background-color: white;
    color: black;
    border-radius: 30px;
    height: 50px;
    width: 250px;
}
.button:hover {
    background-color: rgb(109, 104, 104);
}
.tasks {
    background-image: url('../images/download.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 80px;
    padding-top: 30px;
}
.task {
    background-image: url('../images/download.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 200px;
    padding-top: 30px;
}
#card {
    background-color: rgb(168, 165, 165);
    padding: 40px;
    width: 350px;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 100px;
}
#card:hover {
    background-color: black;
    color: white;
    width: 400px;
    transition: 0.5s;
    height: 400px;
}

#card1 {
    background-color: rgb(168, 165, 165);
    padding: 40px;
    width: 1000px;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 150px;
}
#card1:hover {
    background-color: black;
    color: white;
    transition: 1s;
}
#card2 {
    background-color: rgb(78, 76, 76);
    padding: 20px;
    width: 500px;
    border-radius: 40px;
    margin-top: 60px;
    color: white;
}
#card2:hover {
    background-color: gray;
    transition: 1s;
}
#card3 {
    background-color: rgb(168, 165, 165);
    padding: 40px;
    width: 800px;
    border-radius: 20px;
    margin-top: 70px;
    margin-left: 100px;
}
#card3:hover {
    background-color: black;
    color: white;
    transition: 1s;
}

#card4 {
    background-color: rgb(168, 165, 165);
    padding: 40px;
    width: 350px;
    border-radius: 20px;
    margin-top: 70px;
    margin-left: 100px;
}
#card4:hover {
    background-color: black;
    color: white;
    transition: 1s;
}

.addtask-card {
    background-color: rgb(168, 165, 165);
    padding: 40px;
    width: 900px;
    border-radius: 20px;
    margin-top: 140px;
    margin-left: 190px;
}
.addtask-card:hover {
    padding: 38px;
    background-color: black;
    color: white;
    transition: 1s;
}

#calendar-view {
    background-color: rgb(78, 76, 76);
    color: white;
    padding: 40px;
    width: 380px;
    height: 280px;
    border-radius: 20px;
    margin-top: 100px;
}
#calendar-view:hover {
    padding: 38px;
    background-color: gray;
    color: white;
    transition: 1s;
}
#your-tasks{
    background-color: rgb(168, 165, 165);
    padding: 40px;
    width: 350px;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 450px;
}

#nav {
  
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;      /* Fixed elements collapse unless given a width */
    z-index: 1000;
}

#add-task-button {
    margin-top: 30px;
}
#submit {
    margin-left: 300px;
}
.input {
    margin-left: 200px;
    margin-bottom: 20px;
    width: 400px;
}
.label {
    margin-left: 200px;
}
.text-area {
    margin-left: 200px;
    height: 200px;
    width: 400px;
}
.card-headers {
    margin-left: 350px;
}
.edit-delete-button {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    gap: 20px;
}