body, html { 
  margin: 0; 
  padding: 0;
}
.body1 {
    background-image: url("../images/download.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
header {
    display: flex;
    flex-direction: row;
}
h1 {
    display: inline;
}

nav ul {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    list-style: none;
}
nav li {
    float: left;
}
nav li a{
    color:white;
    margin-right: 90px;
    font-size: 21px;
    font-weight:400;
    text-decoration: none;
}

nav li a:hover {
    color: #9292ef;
    font-size: 23px;
    transition-duration: 0.5s;
}
.button {
    background-color: black;
    margin-top: 10px;
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 200px;
}

button a{
    color: white;
}
.button {
    margin-top: 30px;
    background-color: black;
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 200px;
}
#card1 {
    background-color: rgb(168, 165, 165);
    padding: 40px;
    width: 900px;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 160px;
}
#card1:hover {
    background-color: black;
    color: white;
    width: 1000px;
    transition: 0.5s;
    height: 280px;
}
#card {
    background-color: rgb(168, 165, 165);
    padding: 40px;
    width: 350px;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 100px;
}
#card:hover {
    background-color: black;
    color: white;
    width: 400px;
    transition: 0.5s;
    height: 400px;
}
#calendar-view {
    background-color: rgb(168, 165, 165);
    padding: 40px;
    width: 350px;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 450px;
}
#your-tasks{
    background-color: rgb(168, 165, 165);
    padding: 40px;
    width: 350px;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 450px;
}
#Nova-h1 {
    margin-left: 0px;
    margin-right: 700px;
    font-size: 25px;
    font-weight: 1000;
}
#nav {
    background-color:rgb(107, 105, 105);
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;      /* Fixed elements collapse unless given a width */
    z-index: 1000;
}
.first-row {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 110px;
}

#add-task-button {
    margin-top: 30px;
}
#submit {
    margin-left: 300px;
}
.input {
    margin-left: 200px;
    margin-bottom: 20px;
    width: 400px;
}
.label {
    margin-left: 200px;
}
.text-area {
    margin-left: 200px;
    height: 200px;
    width: 400px;
}
.card-headers {
    margin-left: 350px;
}
.edit-delete-button {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    gap: 20px;
}
