body, html { 
  margin: 0; 
  padding: 0;
}
body {
    background-image: url("../images/download.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
header {
    display: flex;
    flex-direction: row;
}
h1 {
    display: inline;
}

nav ul {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    list-style: none;
}
nav li {
    float: left;
}
nav li a{
    color:white;
    margin-right: 90px;
    font-size: 21px;
    font-weight:400;
    text-decoration: none;
}

nav li a:hover {
    color: #9292ef;
    font-size: 23px;
    transition-duration: 0.5s;
}
#card1 {
    background-color: rgb(168, 165, 165);
    padding: 40px;
    width: 900px;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 160px;
}
#card {
    background-color: rgb(168, 165, 165);
    padding: 40px;
    width: 350px;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 100px;
}
#Nova-h1 {
    margin-left: 0px;
    margin-right: 450px;
    font-size: 25px;
    font-weight: 1000;
}
#nav {
    margin-top: 13px;
    margin-left: 120px;
    background-color:rgb(107, 105, 105);
    height: 65px;
    width: 1000px;
    border-radius: 50px;
}
.first-row {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 110px;
}